<!--/ footer Star /-->
<section class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">CrimeAnalysis</h3>
          </div>
          <div class="w-body-a">
            <p class="w-text-a color-text-a">

              Track and Analsysis the crimes in the entire globe !
              We help to make the world a safe place to all

            </p>
          </div>
          <div class="w-footer-a">
            <ul class="list-unstyled">
              <li class="color-a">
                <span class="color-text-a">Phone .</span> contact@example.com</li>
              <li class="color-a">
                <span class="color-text-a">Email .</span> +54 356 945234</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="nav-footer">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a routerLink="/home">Home</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/data">Data</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/chart">Chart</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/about">About</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/contact">Contact</a>
            </li>
          </ul>
        </nav>
        <div class="socials-a">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-dribbble" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="copyright-footer">
          <p class="copyright color-text-a">
            &copy; Copyright
            <span class="color-a">CrimesAnalysis</span> All Rights Reserved.
          </p>
        </div>

      </div>
    </div>
  </div>
</footer>
<!--/ Footer End /-->
