<!--/ Services Star /-->
<section class="section-services section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Our Services</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ">
        <div class="card-box-c foo cus-border">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="fa fa-gamepad"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Data Analysis</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Our services provide the ability to analysis and visualize the original data for 4 cities on USA. These
              cities are Kansas City, Chicago, New York and San Francisco.
            </p>
          </div>
          <div class="card-footer-c">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo cus-border">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="fa fa-usd"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Data Visualization</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Users can make analysis and visualization of
              data depend on their interested. Users can make analysis and visualization on different parameters such as
              age , sex and type.
            </p>
          </div>
          <div class="card-footer-c">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo cus-border">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="fa fa-home"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Less Crimes</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Crimes analysis helps to reduce
              the number of crimes in such cities by tracking criminals , times and places
              they do the crimes.
            </p>
          </div>
          <div class="card-footer-c">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Services End /-->
