<h3 class="text-center">Kansas City !</h3>
<br>
<form [formGroup]="year_selector">
  <div class="form-group">
    <label for="select_yar">Select Year</label>
    <select class="form-control" (change)="bindYear($event)" [(ngModel)]="select_year" id="select_yar" formControlName="select_year">
      <option value="{{n}}"  *ngFor="let n of year_list">{{n}}</option>
    </select>
  </div>
</form>

<div class="table-responsive text-nowrap">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Crime</th>
        <th scope="col">Age</th>
        <th scope="col">Sex</th>
        <th scope="col">Zip Code</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let crime of crimes | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" >
        <td></td>
        <td>{{crime.description}}</td>
        <td>{{crime.age_1}}</td>
        <td>{{crime.sex_1}}</td>

        <td>{{crime.zip_code_1}}</td>
        <td>{{crime.address}}</td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex justify-content-end"  [rotate]="true" [collectionSize]="crimes.length" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
</div>
